/* CSS colors are off sorry I'm almost color blind */
/* Latin */
@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  src: local('Abel'), local('Abel-Regular'), url(https://fonts.gstatic.com/s/abel/v6/brdGGFwqYJxjg2CD1E9o7g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* Bad practice, should be worked out of our project */
* {
    margin: 0;
}
body {
  margin:0;
  padding: 0;
  font-family: "Abel", "sans-serif", serif;
  font-size: 24;
  font-weight: bold;
  background-color: black;
}
html, body{
    height: 100%;
}
h1,h2, h3, h4, h5, h6, p {
      margin-bottom: 20px;
}
h1.inspire {
  font-size: 7em;
  text-align: center;
  color: white;
}
h1.inspireTop {
  font-size: 5em;
  color: white;
  padding-top: 5em;
  padding-left: 2em;
}
h2.subTitle {
  font-size: 3.5em;
}
div.sect.sectTwo, div.sect.sectThree {
  display:flex;
  align-items: center;
  justify-content: center;
}
img.devPic {
  height: 15em;
  width: 15em;
  border-radius: 25%;
  margin-left:2em;
  margin-right:2em;
}
table.developers {
  margin-right:auto;
  margin-left:auto;
}
/* Navigation Bar */
.centered {
  text-align:center;
  padding-top: 3em;
  margin-bottom: 2em;
  color: white;
}
a.mainNav {
  text-decoration: underline !important;
}
.nav {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: rgba(0,0,0) ;
    z-index: 99;
    text-align: center;
    padding-bottom: 1.5em;
 
}
.logoNav {
  height: 50px;
  width: 300px;
  margin-left: 5em;
  text-align: center;
}
.nav a {
    text-decoration: none;
    font-family: "Abel", sans-serif;
    color: #108cf4;
    margin-right: 50px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 5px;
    font-size: 2em;
    
}
.nav a:hover {
    color: #67B3F3;
}
.sect{
  height:900px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.subSection {
    background-color: #CCE0FF;
    text-align: center;
    vertical-align: middle;
}
.subSection.subsectOne {
  position: relative;
  text-align: center;
  vertical-align: middle;
}
.amazonLogin {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* Login page */
.sectLogin {
    margin: auto;
    padding: 0 0;
    text-align: center;
    border-style: solid;
    border-color: #222233;
}
form {
    padding: 20px 0;
    width: 20%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #CCE0FF;
}
form input{
    outline: 0;
    border: 1px solid;
    background-color: #222233;
    width: 250px;
    border-radius: 3px;
    padding: 10px 12px;
    margin: 10px auto 20px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
}
#submit {
    background-color: #CCE0FF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #222233;
    font-family: 'arial';
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
}
#submit:hover {
    border: none;
    background:#222233;
    box-shadow: 0px 0px 1px black;
}
/* Pictures for different sections of the parallax */
.sectOne {
  background-image: url("bdaycake.jpg");
}
.sectTwo {
  background-image: url("cupcakes.jpg");
}
.sectThree {
  background-image: url("candles.jpg");
}
.loginButton {
    border-color:  #108cf4;
    color:  white;
    border-style: solid;
    border-radius: 13px;
    background-color:  #108cf4;
    border-width: 0.1px;
    padding: 15px;
    margin: 20px;
    text-align: center;
display: inline-block;
text-decoration: none;
}
.loginButton:hover {
background-color: #67B3F3;
}
.about {
    font-family:'Abel', sans-serif
}
p.negate {
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 1.6em;
}
/* Should Chance Nav Color after scrolling */
.nav.active {
    background-color: black;
}
/* Survey */
img.surveyOption {
  height:40em;
  margin-left:6em;
  margin-right:6em;
  width:40em;
  border: 6px outset #108cf4;
}
div.imgContainer {
  text-align: center;
}
/* Dashboard */
h2.menuItem {
  color:white;
}
td.menuBox {
  border: 2px solid white;
}
p.statusText {
  color:white;
}
table.spaced {
  text-align:center;
  width:100%;
  border-spacing: 5em;
}
