/* TODO Bad practice; should be removed */
* {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  padding-bottom: 10em;
  font: "Arial", serif;
  font-size: 20;
  font-weight: bold;
}

/* This ensures all content (everything but the navbar) falls below the navbar, not under */
.content {
  position:relative;
  top:5em;
}

html, body {
  height: 100%;
  font-family: arial, sans-serif;
  background-color: black;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 20px;
}

.placeholder {
  color:white;
  text-align: center;
}

#logoNav {
  height: 35px;
  width: auto;
  margin-top: 5px;
  padding-top: 5px;
  margin-right: 20px;
}

/* Navbar starts below */
nav {
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: black;
  opacity: 100% z-index: 99;
  text-align: center;
}

nav a {
  text-decoration: none;
  font-family: arial, sans-serif;
  color: #108cf4;
  margin-right: 50px;
  line-height: 50px;
}

nav a:hover {
  color: #5AAFF6;
}

/* This is the core element of the scrolling effect */
.sect {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.subSection {
  height: 75%;
  background-color: #e6f7ff;
}


/* For login */

.sectLogin {
  margin: auto;
  padding: 0 0;
  text-align: center;
  border-style: solid;
  border-color: #e6f7ff;
}

form {
  padding: 20px 0;
  width: 20%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: white;
}

form input {
  outline: 0;
  border: 1px solid;
  border-color: lightgrey;
  background-color: white;
  width: 250px;
  border-radius: 3px;
  padding: 5px 5px 5px 5px;
  margin: 5px;
  margin-bottom: 10px;
  display: block;
  text-align: center;
  font-size: 18px;
  color: black;
  border-radius: 10px;
}

.loginButton {
  border-radius: 8px;
  z-index: 4;
  color: white;
  background-color: #108cf4;
  text-align: center;
  padding: 10px 20px;
  border: solid;
  border-color: #108cf4;
  cursor: pointer;
  margin-top: 30%;
  margin-left: 40%;
}

.loginButton:hover {
  background-color: #5AAFF6;
}

/* TODO change sects for images I just picked dark cakes */
.sectOne {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -5;
}

.sectOne video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.sectTwo {
  /* This path is probably wrong. Thanks Obama. */
  background-image: url("../public/candles.jpg");
}

.sectThree {
  /* This path is probably wrong. Thanks Obama. */
  background-image: url("../public/bdaycake.jpg");
}


