/* CSS colors are off sorry I'm almost color blind */
/* Bad practice, should be worked out of our project */
* {
    margin: 0;
}

body {
  margin:0;
  padding: 0;
  font: "sans-serif", serif;
  font-size: 24;
  font-weight: bold;
}

html, body{
    height: 100%;
    font-family: arial, sans-serif;
}

h1,h2, h3, h4, h5, h6, p {
      margin-bottom: 20px;
}

/* Navigation Bar */
nav {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: rgba(0,0,0) ;
    z-index: 99;
    text-align: center;
}
.logoNav {
  height: 50px;
  width: 300px;
  margin-right: 50px;
  text-align: center;
}

nav a {
    text-decoration: none;
    font-family: arial, sans-serif;
    color: #108cf4;
    margin-right: 50px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 5px;
}


.sect{
  height:900px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.subSection {
    height: 512px;
    background-color: #CCE0FF;
}

/* Login page */
.sectLogin {
    margin: auto;
    padding: 0 0;
    text-align: center;
    border-style: solid;
    border-color: #222233;
}

form {
    padding: 20px 0;
    width: 20%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #CCE0FF;
}

form input{
    outline: 0;
    border: 1px solid;
    background-color: #222233;
    width: 250px;
    border-radius: 3px;
    padding: 10px 12px;
    margin: 10px auto 20px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
}

#submit {
    background-color: #CCE0FF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #222233;
    font-family: 'arial';
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
}

#submit:hover {
    border: none;
    background:##222233;
    box-shadow: 0px 0px 1px black;
}

/* Pictures for different sections of the parallax */
.sectOne {
  background-image: url("bdaycake.jpg");
}

.sectTwo {
  background-image: url("cupcakes.jpg")
}

.sectThree {
  background-image: url("candles.jpg")
}

.loginButton {
    border-color:  #108cf4;
    color:  white;
    border-style: solid;
    border-radius: 13px;
    background-color:  #108cf4;
    border-width: 0.1px;
    padding: 15px;
    margin: 20px;
    text-align: center;
display: inline-block;
text-decoration: none;
}

.loginButton:hover {
background-color: #67B3F3;
}

.about {
    font-family:'Abel', sans-serif
}

/* latin */
@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  src: local('Abel'), local('Abel-Regular'), url(https://fonts.gstatic.com/s/abel/v6/brdGGFwqYJxjg2CD1E9o7g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
